
.link-trang_chu::after{
  content:"  〉"
}
.route_link{
  list-style: none;
  display: flex;
  align-items: center;
  height: 40px;
  width: 1270px;
  margin: auto;
  /* padding: 10px 10px; */
}
.container-nganh_hang{
  width: 1270px;
  margin: auto;
  background-color: white;
}
.content_router-nganh_hang{
  background-color: white;
  
}
.content_item-nganh_hang>div{
  display: flex;
  flex-wrap: wrap;
}
.content_item-nganh_hang>div>a{
  padding: 12px 16px;
  display: inline-block;
  width: 20%;
}
.content_item-nganh_hang>div>a:hover{
 color: unset;
  text-decoration: none;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  cursor: pointer;
}
.filter{
  margin-left: 18px;
  margin-right: 18px;
  border-bottom: 1px solid rgb(225, 225, 225);
  display: flex;
  justify-content: space-between;
}
.filter_detail{
  display: inline;
  
}
.filter_detail > a{
  display: inline-block;
  font-size: 15px;
  padding: 9px 10px 11px;
  cursor: pointer;
}
.find_item_nganh_hang{
  width: 283px;
  height: 31px;
  border: 1px solid rgb(225, 225, 225);
  overflow: hidden;
  border-radius: 5px;
}
.find_item_nganh_hang>form{
  display: flex;
  justify-content: space-between;
}
.find_icon-nganh_hang{
  background:url("https://frontend.tikicdn.com/_desktop-next/static/img/icons/ic-search-2.svg") center center no-repeat rgb(234, 235, 240) !important ;
  border-width: 0px 0px 0px 1px;
    border-top-style: initial;
    border-right-style: initial;
    border-bottom-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-image: initial;
    font-size: 0px;
    width: 31px;
    height: 29px;
    border-left-style: solid;
    border-left-color: rgb(211, 210, 211);
    outline: 0px;
    border: 0px;
    margin-right: -1px;
}