.tao_tai_khoan{
  width: 660px;
  box-sizing: border-box;
  padding: 30px;
  margin: auto;
}
.tao_tai_khoan-inner{
  padding: 15px;
  background-color: white;
  border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);

}
.tao_tai_khoan-form_item{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.tao_tai_khoan-form_item>label{
  width: 120px;
  margin-right: 20px;
  font-size: 14px;
}
.tao_tai_khoan-form_item>div{
  
}
.tao_tai_khoan-form_item>div>input{
  width: 350px;
  border-radius: 5px;
  padding: 6px 12px;
  border: 1px solid rgb(204, 204, 204);
  font-size: 14px;
}
.tao_tai_khoan-form_item>div>input:focus{
  border-color: rgb(102, 175, 237);
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset, rgba(102, 175, 233, 0.6) 0px 0px 8px;
      outline: none;
}
.container-btn_register{
  text-align: center;
}
.container-btn_register>.btn-tao_tai_khoan{
  width: 180px;
  padding: 10px;
  background-color: rgb(253, 216, 53);
  font-size: 14px;
  border: 0;
  border-radius: 3px;
  text-align: center;
  margin-top: 10px;
}
.container-btn_register>.btn-tao_tai_khoan:focus{
  outline: none;
}
.container-btn_register>.btn-tao_tai_khoan:hover{
  background-color: rgb(255, 208, 0);
}